*{  margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 20px;
}
.logo{
    color: #fff;
    font-size: 24px;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.nav-links a:hover{
    color: #ff4d4d;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-image: url("gym.jpg");
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white
}
.hero-text{
    font-size: 48px;
}
.hero-text p{
    font-size: 24px;
    margin-top: 20px;
}
.btn{
    display: inline-block;
    padding: 12px 25px;
    background-color: #ff4d4d;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover{
    background-color: #ea0b0b;
}
.about{
    text-align: center;
    padding: 60px;
}
.about h2{
    font-size: 32px;
    margin-bottom: 20px;
}
footer{
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}
h2{ 
    font-size: 2em;
    margin-top: 30px;
    text-align: center
}
.programs {
    padding: 40px 60px;
    text-align: center;
}
.programs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px auto;
    flex-wrap: wrap;
    max-width: 1000px;
}
.program-card  {
    background: linear-gradient(135deg,#1a1a1a, #333);
    color: #000;
    padding: 30px;
    width: 260px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;
    cursor: pointer;
}
.program-card:hover {
    transform: translateY(-10px) scale(1.05);
    background: #ff4d4d;
    color: #fff;
}
.program-card h3 {
    margin-bottom: 10px;
}
footer {
    background-color: #111;
    margin-top: 190px;
    text-align: center;
    padding: 15px;
}
.trainers {
    padding: 60px;
    text-align: center;
}
.trainer-card {
    background: #fff;
    margin: 15px auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.trainer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}
.trainer-card:hover {
    transform: translateY(-10px);
}
.trainer-card img {
    width: 50%;
    border-radius: 10px;
}
contact {
    padding: 60px;
    text-align: center;
}
.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.contact p {
    color: grey;
    margin-bottom: 30px;
}
.contact-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.contact-info {
    max-width: 300px;
    text-align: left;
}
.contact-info h3 {
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
form button {
    padding: 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
form button:hover {
    background-color: #e60000;
}
.membership {
    padding: 50px 20px;
    text-align: center;
    background-color: #f5f7fa;
}
.membership h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.subtitle {
    color: #666;
    margin-bottom: 40px;
}
.plans {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}   
.plan {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease;
}
.plan:hover {
    transform: translateY(-10px);
}           
.plan h2 {
    margin-bottom: 15px;
}   
.price {
    font-size: 24px;
    color: red;
    margin-bottom: 15px;
}              
.plan ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
.plan ul li {
    margin-bottom: 8px 0;
}           
.plan button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
} 
.plan button:hover {
    background-color: red;
}
.vip {
    border: 2px solid gold;
}